:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --black-logo-color: #000000;
  --light-background-color: #e5e5e5;
  --white-background-color: #ffffff;
  --hero-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
}

/* white background #E5E5E5
header background #FFFFFF
hero, footer background #2F303A
grey background #F5F4FA
main black menu,h2,h3 #212121
black text #757575
white text #FFFFFF
accent blue #2196F3 */

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--light-background-color);
  color: var(--primary-text-color);
}

/* убираем точки списков */
.list {
  list-style: none;
}
/* убираем глобально подчеркивание ссылок */
a {
  text-decoration: none;
}

/* Шапка */
.header {
  background-color: var(--white-background-color);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.logo-black {
  color: var(--black-logo-color);
}
.header-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.nav .link.current {
  color: var(--accent-color);
}
.mail-link,
.tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.hero-title: {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  letter-spacing: 0.06em;
}

.nav .link:focus,
.nav .link:hover,
.tel-link:focus,
.tel-link:hover,
.mail-link:focus,
.mail-link:hover {
  color: var(--accent-color);
}
/* Герой */
.hero {
  background-color: var(--hero-background-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-text-color);
}
.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--white-text-color);
  color: var(--accent-color);
}

/* Н2 для секций */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-text-color);
}
/* Список преимуществ */
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}
/* Команда */
.section-team {
  background-color: var(--team-background-color);
}
.team-worker {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19px;
}
.team-profession {
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
}
/* Подвал */
.footer {
  background-color: var(--hero-background-color);
}
.logo-white {
  color: var(--white-text-color);
}

.contact-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-text-color);
}

.contact-mail,
.contact-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-text-color);
}

.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}
/* Портфолио */
.filter {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background-color: var(--team-background-color);
  color: var(--primary-text-color);
  cursor: pointer;
}
.filter:hover,
.filter:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}
.portfolio-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}
